<div class="container">
	<h1>Choose an entity to search for</h1>
	<div class = "container">
		<%= form_tag(semantic_search_word_path, :method => "post") do %>	
		<%= select_tag("offence", options_for_select(@offences), class:"form-control")%>	
		<%= select_tag("verdict", options_for_select(@verdicts), class:"form-control")%>
		<%= select_tag("sentence", options_for_select(@sentences), class:"form-control")%>
	</div>
	
	<br><br>

	<div id = "searchSet">
		<%= render partial: "word_semantics" %>
	</div>
	<div class = "container">
		<a href="javascript:;" id="addNewSearch", class = "btn btn-warning">Add Search Field</a>
		<%= submit_tag "Search for Annotation", class: "btn btn-primary" %>
	</div>
	<% end %>
</div>

<% content_for :javascript_includes do %>
	<script type="text/javascript">
		$(document).ready(function(){
		  $("#addNewSearch").click(function(){
		  	$($(".wordSemantics")[0]).clone().appendTo($('div#searchSet'));
		  	field = $(".text_field"); 
		  	$(field[field.length-1]).val(null);
		  });
		});
	</script>
<% end %>