<div class="container">
	<h1>Choose an entity to search for</h1>

	<%= form_tag(semantic_search_page_path, :method => "post") do %>
	<%= select_tag("term", options_for_select(["Arsony","Murder"]), class:"form-control")%>
	<%= submit_tag "Search for Sentence", class: "btn btn-primary" %>
	<% end %>

	<%= form_tag(semantic_search_word_path, :method => "post") do %>
	<%= select_tag("term", options_for_select(["John Dough"]), class:"form-control") %>
	<%= submit_tag "Search for Annotation", class: "btn btn-primary" %>
	<% end %>
</div>