<h1 align="center">Add word semantic</h1>
<%= @da %>
<%= form_tag 'word_semantic' do %>
	Person <%= select_tag(:person, options_for_select([['John Dough', 'John Dough'],['Peter Rabbit', 'Petter Rabbit']]), {include_blank: true}) %> <br>
	<%= hidden_field_tag :p, @page%>
	<%= hidden_field_tag :v, @volume %>
	<%= hidden_field_tag :id, @id %>
	<%= hidden_field_tag :word, @da %>
	<%= submit_tag "Submit" %>
<% end %>
