<h2 align = "center"> Your notes </h2>
<div class = "container"><% @usrnote.each do |note| %>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="row">
					<div class="col-sm-3"><h5>Note Volume: <%= note.search_volume %></h5></div>
					<div class="col-sm-3"><h5>Note Page: <%= note.search_page %></h5></div>
					
					<div class="col-sm-3">
					<a href="/doc/show?p=<%= note.search_page %>&amp;v=<%= note.search_volume %>" id="doc_view" class="btn btn-default" style="display: inline-block;">
	         		<i class="fa fa-book"></i>View Page
	        		</a>
	        		</div>

					<div class="col-sm-1"><%= form_tag("/notes/#{note.id}", method:"delete") do %>
						<input type="submit" value="Delete" class="btn btn-danger">
					<% end %>
					</div>
			</div>
		</div>

		<div class = "container"><h5><%= note.content %></h5>
		</div>
	</div>
<% end %>
</div>